<header>
  <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <nav>
    <a href="{{ '/#home' | relative_url }}">Home</a> |
    <a href="{{ '/#research-areas' | relative_url }}">Áreas de Investigación</a> |
    <a href="{{ '/projects.html' | relative_url }}">Projects</a> |
    <a href="{{ '/awards.html' | relative_url }}">Awards</a> |
    <a href="{{ '/members.html' | relative_url }}">Members</a> |
    <a href="{{ '/contact.html' | relative_url }}">Contact</a> |
    <a href="{{ '/source.html' | relative_url }}">Source</a>
  </nav>
</header>
